@model IEnumerable<RentMe.Core.Models.PropertyListViewModel>

@{
    ViewData["Title"] = "My Properties";
}

<p>
    <button class="button">
        <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="AddProperty">Add New Propery</a>
    </button>
</p>
@if(User.IsInRole("Admin")){
<p>
    <button class="button">
        <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="AddPropertyType">Add New Property Type</a>
    </button>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
               Area /sq.m/
            </th>
            <th>
                Parking
            </th>
            <th>
                Elevator
            </th>
            <th>
                Furniture
            </th>
            <th>
                Tenant
            </th>
            <th>
                Edit
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasParking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasElevator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasFurniture)
            </td>
            <td>
                @Html.ActionLink("Info", "TenantInfo", "Tenant")
                </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Property", item, null)
            </td>
        </tr>
}
    </tbody>
</table>
