@using Microsoft.AspNetCore.Identity
@using RentMe.Infrastructure.Data.Identity
@model IEnumerable<RentMe.Core.Models.AdListViewModel>

@{
    ViewData["Title"] = "For Rent";
}

    @if (User.IsInRole("Admin")){
        <div>
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Ad" asp-action="AddAd">Add Advertisement</a>
            </button>
        </div>
    }
    <br/>
    
    <div>
    @foreach (var item in Model){
        <h4>@item.Description</h4>
        <br/>
        <div>
        <img src="~/house-3d.jpg" alt="image" width=400px/> 
        <img src="~/house-3d.jpg" alt="image" width=400px/> 
        <img src="~/house-3d.jpg" alt="image" width=400px/> 
        </div>
        <br/>
        if (User.IsInRole("Admin")){
            <div>
                @Html.ActionLink("DELETE", "Delete", "Ad", item, null)
            </div>
        }
        <div class="box">
            <p>Type:        @item.Type</p>
            <p>Price:       @item.Price €/month</p>
            <p>City:        @item.City</p>
            <p>Address:     @item.Address</p>
            <p>Floor:       @item.Floor</p>
            <p>Area:        @item.Area sq.m.</p>
            <p>Parking:     @item.HasParking</p>
            <p>Elevator:    @item.HasElevator</p>
            <p>Furniture:   @item.HasFurniture</p>
            <p>Phone:       @item.Phone</p>
            <p>Email:       @item.Email</p>
        </div> 
    <br/>
    }
</div>


